@import 'normalize';
@import 'base';

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-Semibold.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-Bold.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-Roman.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-Italic.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-BoldItalic.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/crimson/Crimson-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

  @font-face {
    font-family: 'Leixo';
    src: url('../fonts/leixo/LEIXO-DEMO.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/leixo/LEIXO-DEMO.woff') format('woff'), /* Pretty Modern Browsers */
  }  

@font-face {
    font-family: 'Gobold';
    src: url('../fonts/gobold/Gobold.woff2') format('woff2'),
        url('../fonts/gobold/Gobold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Crimson';
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.sticky-studies {
    position: sticky !important;
    top: 0;
}

.ml-c-cs-desc {
    padding: 2rem 0;
    background: #000000;
    color:white;
    &__title{
        font-family: 'Leixo';
        padding-bottom: 1rem;
        letter-spacing: 7.12px;
        font-size: 40px;
        transition: opacity 0.2s ease;
        &.show {
            opacity: 1;
        }
    }
    &__content {
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        width: 66.66%;
        @media (max-width: 768px){
            width: 100%;
        }
        p {
            max-width: 550px;
            font-size: 20px;
            letter-spacing: 0.26px;
            @media (max-width: 480px) {
                line-height: 1.6;
                font-size: 16px;
            }
        }
    }
}

.ml-c-case-studies{
    padding: 3rem 0;
    color: #000000;
    &:nth-child(even) {
        background: #000000;
        color:white;
    }
    &:nth-child(odd) {
        background: white;
        color:#000000;
    }
    &__content {
        display: flex;
        flex-direction: column;
        &__title {
            padding-bottom: 3rem;
            display: flex;
            align-items: flex-start;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            &__number {
                letter-spacing: 12.46px;
                font-size: 70px;
                font-weight: 600;
                padding-right: 30px;
                font-family: 'Gobold';
            }
            &__text {
                font-size: 30px;
                max-width: 600px;
                font-family: 'Gobold';
                font-weight: 600;
                line-height: 1.3;
            }
        }
        &__top {
            display: flex;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            &__left {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 1rem 1rem 0rem 0rem;
                width: 70%;
                @media (max-width: 768px) {
                   width: 100%;
                   margin-bottom: 30px;
                }
                &__text {
                    font-size: 20px;
                }
                &__title {
                    font-weight: 700;
                    font-size: 25px;
                }
            }
            &__right {
                display: flex;
                height: auto;
                width: 30%;
                @media (max-width: 768px) {
                    width: 100%;
                }
                &__box-50 {
                    height: 230px;
                    width: 100%;
                    background: #D8D8D8;
                }
            }
        }
        &__bottom {
            padding: 1rem 0;
            display: flex;
            justify-content: flex-end;
            @media (max-width: 480px) {
                flex-wrap: wrap;
            }
            &__box-35{
                width: 30%;
                background: #D8D8D8;
                height: 230px;
                margin-right: 1rem;
                @media (max-width: 768px) {
                    width: 50%;
                }

                @media (max-width: 480px) {
                    width: 100%;
                    margin-right: 0rem;
                    margin-bottom: 1rem;
                }
            }
            &__box-15{
                width: 20%;
                background: #D8D8D8;
                height: 230px;
                @media (max-width: 768px) {
                    width: 50%;
                }

                @media (max-width: 480px) {
                    width: 100%;
                }
            }
        }
    }
}

.ml-c-contact-info {
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 80%;
        @media (max-width: 920px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &__section {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex:1;
            width: 80%;
            margin: 1.5rem 0;
            @media (max-width: 920px) {
                width: auto;
            }
            h2 {
                font-size: 15px;
                text-align: left;
                text-decoration: underline;
                margin-bottom: 25px;
                font-family: 'Roboto';
                font-weight: 'bold';
                @media (max-width: 920px) {
                    text-align: center;
                }
            }
            &__top {
                margin: 1rem 0;
            }
            &:nth-child(1) {
                align-self: center;
            }
            &__img {
                max-width: 150px;
            }
            &__content-r {
                max-width: 400px;
                margin: 0 auto;
                margin-left: 0px;
                display: flex;
                justify-content: space-around;
                @media (max-width: 920px) {
                    align-items: flex-start;
                }
                p {
                    font-size: 15px;
                    margin: 0px 10px 0px 0px;
                    font-family: 'Roboto';
                    @media (max-width: 480px) {
                        line-height: 1.6;
                        font-size: 16px;
                    }
                }
                > div {
                    margin-right: 10px;
                }
                @media (max-width: 480px){
                    flex-direction: column;
                    align-items: center;
                }
                &__top {

                    margin-bottom: 2rem;
                }
            }
            &__content-l {
                list-style: none;
                margin-top: 0px;
                padding: 0px;
                h2 {
                    margin-bottom: 15px;
                }
                li {
                    margin-bottom: 6px;
                    padding: 0px;
                    font-size: 14px;
                    a {
                        font-size: 15px;
                        text-decoration: none;
                        color: #000000;
                        font-family: 'Roboto';
                    }
                }
            }
        }
        &__top {
            margin-bottom: 10px;
        }
    }
}

footer {
    text-align: center;
    p {
        font-size: 15px;
    }
}

.ml1 .letter,
.ml2 .letter,
.ml3 .letter,
.ml4 .letter,
.ml5 .letter {
    display: inline-block;
    line-height: 1em;
}